In [7]:
import pandas as pd
#from google.colab import drive

In [8]:
# Looking at Emissions Dataset

In [9]:
#drive.mount('/content/drive')

In [10]:
#emissions = pd.read_csv('/content/drive/My Drive/VizFinalProj/GCB2022v27_MtCO2_flat.csv')
emissions = pd.read_csv('./Emissions Datasets/GCB2022v27_MtCO2_flat.csv')

In [11]:
name_lookup = pd.read_csv('name_lookup_utf8.csv', index_col=0)
name_lookup.head()

,tempsbyYear,emissions
key,,
Samoa,American Samoa,Samoa
Antigua And Barbuda,Antigua And Barbuda,Antigua and Barbuda
"Bonaire, Saint Eustatius And Saba","Bonaire, Saint Eustatius And Saba","Bonaire, Saint Eustatius and Saba"
Bosnia And Herzegovina,Bosnia And Herzegovina,Bosnia and Herzegovina
Democratic Republic of the Congo,"Congo (Democratic Republic Of The) ""Côte d'Ivo...",Democratic Republic of the Congo

In [12]:
# continent_lookup = pd.read_csv('/content/drive/My Drive/VizFinalProj/continent_lookup.csv')
continent_lookup = pd.read_csv('./continent_lookup.csv')

continent_lookup.head()

       Continent
0     Antarctica
1         Africa
2         Europe
3  North America
4  South America

In [13]:
#misc_lookup = pd.read_csv('/content/drive/My Drive/VizFinalProj/misc_lookup_utf8.csv')
misc_lookup = pd.read_csv('misc_lookup_utf8.csv')
misc_lookup.head()

                       Misc
0                    Global
1   International Transport
2  French Equatorial Africa
3        French West Africa
4              Baker Island

In [14]:
emissions.columns

Index(['Country', 'ISO 3166-1 alpha-3', 'Year', 'Total', 'Coal', 'Oil', 'Gas',
       'Cement', 'Flaring', 'Other', 'Per Capita'],
      dtype='object')

In [15]:
print("DF shape:",emissions.shape)
print("DF number of countries:", emissions['Country'].nunique())
print("DF number of years:", emissions['Year'].nunique(), "from", emissions['Year'].min(), "to", emissions['Year'].max())

DF shape: (63104, 11)
DF number of countries: 232
DF number of years: 272 from 1750 to 2021

In [16]:
emissions = emissions.loc[emissions['Year'] >= 1950]

In [17]:
emissions.isnull().any()

Country               False
ISO 3166-1 alpha-3     True
Year                  False
Total                 False
Coal                   True
Oil                    True
Gas                    True
Cement                 True
Flaring                True
Other                  True
Per Capita             True
dtype: bool

In [18]:
print("DF shape:",emissions.shape)
print("DF number of countries:", emissions['Country'].nunique())
print("DF number of years:", emissions['Year'].nunique(), "from", emissions['Year'].min(), "to", emissions['Year'].max())

DF shape: (16704, 11)
DF number of countries: 232
DF number of years: 72 from 1950 to 2021

In [19]:
emissions.head()

,Country,ISO 3166-1 alpha-3,Year,Total,Coal,Oil,Gas,Cement,Flaring,Other,Per Capita
200,Afghanistan,AFG,1950,0.084272,0.021068,0.063204,0.0,0.0,0.0,NaN,0.011266
201,Afghanistan,AFG,1951,0.091600,0.025648,0.065952,0.0,0.0,0.0,NaN,0.012098
202,Afghanistan,AFG,1952,0.091600,0.031708,0.059892,0.0,0.0,0.0,NaN,0.011946
203,Afghanistan,AFG,1953,0.106256,0.037949,0.068307,0.0,0.0,0.0,NaN,0.013685
204,Afghanistan,AFG,1954,0.106256,0.042502,0.063754,0.0,0.0,0.0,NaN,0.013511

In [20]:
# Looking at Temperatures Dataset

In [21]:
#temperatures = pd.read_csv('/content/drive/My Drive/VizFinalProj/GlobalLandTemperaturesByCountry.csv')
temperatures = pd.read_csv('./Temperatures Datasets/GlobalLandTemperaturesByCountry.csv')

In [22]:
temperatures.columns

Index(['dt', 'AverageTemperature', 'AverageTemperatureUncertainty', 'Country'], dtype='object')

In [23]:
temperatures.head()

           dt  AverageTemperature  AverageTemperatureUncertainty Country
0  1743-11-01               4.384                          2.294   Åland
1  1743-12-01                 NaN                            NaN   Åland
2  1744-01-01                 NaN                            NaN   Åland
3  1744-02-01                 NaN                            NaN   Åland
4  1744-03-01                 NaN                            NaN   Åland

### Splitting Date-Time

In [24]:
temperatures['dt']= pd.to_datetime(temperatures['dt'],format='%Y-%m-%d')

In [25]:
temperatures.dtypes

dt                               datetime64[ns]
AverageTemperature                      float64
AverageTemperatureUncertainty           float64
Country                                  object
dtype: object

In [26]:
temperatures['Year'] = temperatures['dt'].dt.year

In [27]:
print("DF shape:",temperatures.shape)
print("DF number of countries:", temperatures['Country'].nunique())
print("DF number of years:", temperatures['Year'].nunique(), "from", temperatures['Year'].min(), "to", temperatures['Year'].max())

DF shape: (577462, 5)
DF number of countries: 243
DF number of years: 271 from 1743 to 2013

In [28]:
temperatures.head()

          dt  AverageTemperature  AverageTemperatureUncertainty Country  Year
0 1743-11-01               4.384                          2.294   Åland  1743
1 1743-12-01                 NaN                            NaN   Åland  1743
2 1744-01-01                 NaN                            NaN   Åland  1744
3 1744-02-01                 NaN                            NaN   Åland  1744
4 1744-03-01                 NaN                            NaN   Åland  1744

In [29]:
tempsbyYear = temperatures.groupby(['Year', 'Country']).mean().reset_index()

In [30]:
tempsbyYear = tempsbyYear.loc[tempsbyYear['Year']>= 1950]

In [31]:
tempsbyYear.head()
tempsbyYear.isnull().any()

Year                             False
Country                          False
AverageTemperature                True
AverageTemperatureUncertainty     True
dtype: bool

In [32]:
tempsbyYear.loc[tempsbyYear['AverageTemperature'].isnull()]

       Year     Country  AverageTemperature  AverageTemperatureUncertainty
32699  1950  Antarctica                 NaN                       2.215200
32942  1951  Antarctica                 NaN                       2.153333
33185  1952  Antarctica                 NaN                       2.105000
33428  1953  Antarctica                 NaN                            NaN
33671  1954  Antarctica                 NaN                       2.218167
...     ...         ...                 ...                            ...
47036  2009  Antarctica                 NaN                       0.606500
47279  2010  Antarctica                 NaN                       0.590083
47522  2011  Antarctica                 NaN                       0.625833
47765  2012  Antarctica                 NaN                       0.709417
48008  2013  Antarctica                 NaN                       0.615250

[64 rows x 4 columns]

In [33]:
#tempsbyYear = tempsbyYear.loc[~(tempsbyYear['Country']=='Antarctica')]

In [34]:
continents = continent_lookup['Continent'].tolist()
misc = misc_lookup['Misc'].tolist()

In [35]:
tempsbyYear = tempsbyYear[~tempsbyYear['Country'].isin(continents)]
tempsbyYear = tempsbyYear[~tempsbyYear['Country'].isin(misc)]
tempsbyYear = tempsbyYear[~tempsbyYear['Country'].isin(['Denmark (Europe)', 'France (Europe)', 'Netherlands (Europe)', 'United Kingdom (Europe)', 'American Samoa'])]

In [36]:
emissions = emissions[~emissions['Country'].isin(continents)]
emissions = emissions[~emissions['Country'].isin(misc)]
emissions = emissions[~emissions['Country'].isin(['Kuwaiti Oil Fires', 'Panama Canal Zone', 'South Sudan'])]

In [37]:
tempsbyYear_name_dict = name_lookup['tempsbyYear'].to_dict()
tempsbyYear_name_dict = dict([(value, key) for key, value in tempsbyYear_name_dict.items()])

In [38]:
emissions_name_dict = name_lookup['emissions'].to_dict()
emissions_name_dict = dict([(value, key) for key, value in emissions_name_dict.items()])

In [39]:
tempsbyYear['Country'] = tempsbyYear['Country'].replace(tempsbyYear_name_dict)
tempsbyYear[tempsbyYear['Country'] == 'Samoa']

       Year Country  AverageTemperature  AverageTemperatureUncertainty
32879  1950   Samoa           26.274583                       0.409833
33122  1951   Samoa           26.434583                       0.390750
33365  1952   Samoa           26.768833                       0.265250
33608  1953   Samoa           26.670583                       0.323500
33851  1954   Samoa           26.562000                       0.315500
...     ...     ...                 ...                            ...
47216  2009   Samoa           26.728333                       0.394000
47459  2010   Samoa           27.161667                       0.357250
47702  2011   Samoa           26.715583                       0.413833
47945  2012   Samoa           26.926667                       0.482083
48188  2013   Samoa           27.176500                       0.431875

[64 rows x 4 columns]

In [40]:
emissions['Country'] = emissions['Country'].replace(emissions_name_dict)
emissions[emissions['Country'] == 'Antigua And Barbuda']

,Country,ISO 3166-1 alpha-3,Year,Total,Coal,Oil,Gas,Cement,Flaring,Other,Per Capita
2104,Antigua And Barbuda,ATG,1950,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
2105,Antigua And Barbuda,ATG,1951,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
2106,Antigua And Barbuda,ATG,1952,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
2107,Antigua And Barbuda,ATG,1953,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
2108,Antigua And Barbuda,ATG,1954,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
2171,Antigua And Barbuda,ATG,2017,0.490976,0.0,0.490976,0.0,0.0,0.0,NaN,5.388294
2172,Antigua And Barbuda,ATG,2018,0.498304,0.0,0.498304,0.0,0.0,0.0,NaN,5.438456
2173,Antigua And Barbuda,ATG,2019,0.498304,0.0,0.498304,0.0,0.0,0.0,NaN,5.409468
2174,Antigua And Barbuda,ATG,2020,0.425453,0.0,0.425453,0.0,0.0,0.0,NaN,4.591351
2175,Antigua And Barbuda,ATG,2021,0.468695,0.0,0.468695,0.0,0.0,0.0,NaN,5.027895

In [41]:
#tempsbyYear['Country'].replace()

In [42]:
tempsbyYear.head()

       Year      Country  AverageTemperature  AverageTemperatureUncertainty
32691  1950  Afghanistan           13.043500                       0.378250
32693  1950      Albania           13.812833                       0.453583
32694  1950      Algeria           22.781833                       0.414333
32696  1950      Andorra           11.812000                       0.339417
32697  1950       Angola           21.571833                       0.496500

In [43]:
emissions.head()

,Country,ISO 3166-1 alpha-3,Year,Total,Coal,Oil,Gas,Cement,Flaring,Other,Per Capita
200,Afghanistan,AFG,1950,0.084272,0.021068,0.063204,0.0,0.0,0.0,NaN,0.011266
201,Afghanistan,AFG,1951,0.091600,0.025648,0.065952,0.0,0.0,0.0,NaN,0.012098
202,Afghanistan,AFG,1952,0.091600,0.031708,0.059892,0.0,0.0,0.0,NaN,0.011946
203,Afghanistan,AFG,1953,0.106256,0.037949,0.068307,0.0,0.0,0.0,NaN,0.013685
204,Afghanistan,AFG,1954,0.106256,0.042502,0.063754,0.0,0.0,0.0,NaN,0.013511

In [44]:
tempsbyYear.isnull().any()

Year                             False
Country                          False
AverageTemperature               False
AverageTemperatureUncertainty    False
dtype: bool

In [45]:
emissions.isnull().any()

Country               False
ISO 3166-1 alpha-3    False
Year                  False
Total                 False
Coal                   True
Oil                    True
Gas                    True
Cement                 True
Flaring                True
Other                  True
Per Capita            False
dtype: bool

In [46]:
tempsbyYear = tempsbyYear.set_index(['Country','Year']).join(emissions.set_index(['Country','Year']))
tempsbyYear.reset_index(inplace=True)
tempsbyYear

,Country,Year,AverageTemperature,AverageTemperatureUncertainty,ISO 3166-1 alpha-3,Total,Coal,Oil,Gas,Cement,Flaring,Other,Per Capita
0,Afghanistan,1950,13.043500,0.378250,AFG,0.084272,0.021068,0.063204,0.000000,0.000000,0.000000,NaN,0.011266
1,Albania,1950,13.812833,0.453583,ALB,0.296725,0.043432,0.246114,0.000000,0.007180,0.000000,NaN,0.236891
2,Algeria,1950,22.781833,0.414333,DZA,3.783605,1.883296,1.740400,0.000000,0.159909,0.000000,NaN,0.419475
3,Andorra,1950,11.812000,0.339417,AND,0.000000,NaN,NaN,NaN,0.000000,NaN,NaN,0.000000
4,Angola,1950,21.571833,0.496500,AGO,0.186864,0.059796,0.127068,0.000000,0.000000,0.000000,NaN,0.041728
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13243,Venezuela,2013,25.912875,0.484500,VEN,198.427035,0.795088,128.254656,48.511360,3.464689,17.401242,NaN,6.650141
13244,Vietnam,2013,25.232125,0.383125,VNM,151.518339,56.541395,43.908247,18.718895,30.315962,2.033840,NaN,1.678544
13245,Yemen,2013,28.129750,1.335000,YEM,27.160406,0.494640,21.320816,2.011536,1.149305,2.184109,NaN,1.006537
13246,Zambia,2013,21.196000,0.825125,ZMB,4.416159,0.458000,3.253632,0.000000,0.704527,0.000000,NaN,0.289870
13247,Zimbabwe,2013,20.710750,0.778500,ZWE,11.671374,7.104496,4.103680,0.000000,0.463198,0.000000,NaN,0.861011

In [47]:
tempsbyYear['Year'].value_counts()

1950    207
1951    207
1984    207
1985    207
1986    207
       ...
1976    207
1977    207
1978    207
1979    207
2013    207
Name: Year, Length: 64, dtype: int64

In [48]:
tempsbyYear['Country'].nunique()

207

In [49]:
tempsbyYear.loc[tempsbyYear[['Country','Year']].duplicated()]['Country'].unique()

array([], dtype=object)

In [50]:
temps_groupby_year = tempsbyYear[['Country','Year','AverageTemperature','Total']].groupby('Year').mean()
temps_groupby_country = tempsbyYear[['Country','Year','AverageTemperature','Total']].groupby('Country').mean()

In [51]:
temps_groupby_country

               Year  AverageTemperature       Total
Country
Afghanistan  1981.5           14.519943    2.103528
Albania      1981.5           13.059882    3.851332
Algeria      1981.5           23.508965   54.946102
Andorra      1981.5           11.685058    0.183543
Angola       1981.5           22.151186    7.323238
...             ...                 ...         ...
Venezuela    1981.5           25.488145  102.346836
Vietnam      1981.5           24.087290   36.781567
Yemen        1981.5           26.564711    8.465183
Zambia       1981.5           21.589061    3.201621
Zimbabwe     1981.5           21.446009    9.616885

[207 rows x 3 columns]

In [52]:
tempsbyYear_unique_countries =  tempsbyYear.loc[~tempsbyYear['Country'].isin(emissions['Country']), 'Country']

In [53]:
#We need to standardize names
tempsbyYear_unique_countries.unique()
#missing_countries.nunique()

array(['Congo (Democratic Republic Of The)', "Côte D'Ivoire"],
      dtype=object)

In [54]:
tempsbyYear.loc[tempsbyYear['Country']=='Denmark (Europe)']

Empty DataFrame
Columns: [Country, Year, AverageTemperature, AverageTemperatureUncertainty, ISO 3166-1 alpha-3, Total, Coal, Oil, Gas, Cement, Flaring, Other, Per Capita]
Index: []

In [55]:
emissions_unique_countries =  emissions.loc[~emissions['Country'].isin(tempsbyYear['Country']), 'Country']

In [56]:
emissions_unique_countries.unique()

array(["Côte d'Ivoire", 'Democratic Republic of the Congo'], dtype=object)

In [57]:
emissions['Country'].nunique()

207

In [58]:
tempsbyYear['Country'].nunique()

207

In [ ]:
combined_df =